<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Educational Path</h2>
                    <h3 class="section-subheading text-muted">Check out my background</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2021</h4>
                                    <h4 class="subheading">University of Duisburg-Essen</h4>
                                    <h6 class="subheading">B.Sc.: Applied Cognitive and Media Science</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The smooth fusion of computer science, psychology, topped with a sprinkle of entrepreneurship. I came for the psychology and left with the realization that both fit so perfectly together.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2021 - July 2022</h4>
                                    <h4 class="subheading">University of Twente</h4>
                                    <h6 class="text-muted">Double Degree: Human-Computer-Interaction</h6>
                                    <h6 class="text-muted">M.Sc.: Interactive Technology</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Groetjes! My first year of my studies led me to the Netherlands and showed me how tangible/interactive installations can have an impact on society. It gave me a deep insight into user research methods and opend the door to use my drive in computer vision and data science.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2022 - present</h4>
                                    <h4 class="subheading">Aalto University</h4>
                                    <h5 class="subheading">Double Degree: Human-Computer-Interaction</h5>
                                    <h5 class="subheading">M.Sc.: Information and Technology Innovation</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Terve! In my second year I am exploring the Finish work and academic life! My courses open up the realms of adpative devices and machine learning but also the Finish language. Next to inercultural visits to the sauna and, I am also exploring finish events like Dash and Slush.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2021 - present</h4>
                                    <h4 class="subheading">University of Twente / Aalto</h4>
                                    <h5 class="subheading">Double Degree: Human-Computer-Interaction</h5>
                                    <h5 class="subheading">Minor: Innovaton and Entrepreneurship</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An innovation scan for a company, an international summer school at the Politechnica di Milano, and entrepreneurial hackathons later, I derived the conclusion that innovation is crucial for our society. And most importantly: That we can lead this innovation with kind hearts and brave ideas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Next?
                                    <br>Your
                                    <br>Company!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>