<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="https://www.uni-due.de/">
                    <img src="https://www.uni-due.de/portal/4/images/UDE-logo-claim.svg"
                        class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.utwente.nl/en/">
                    <img src="img/logos/logo-stacked.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.aalto.fi/en">
                    <img src="img/logos/Aalto_logo.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.eitdigital.eu/">
                    <img src="img/logos/EIT.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>