<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skill Overview</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research & UX</h4>
                    <p class="text-muted">From qualitative user research to empirical psychological studies. I have experience in concept and design - digitally and tangible - for the intersection of humans and technology.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">The ability to identify, process and present significant information from big data. Wether images, medical data or text - I am sure, we can make something out of it!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Entrepreneurship</h4>
                    <p class="text-muted">Standing still in what is comfortable and not looking over the edge, is the companies greatest trap. Let's innovate, maybe even disrupt, but for sure change the world together.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership</h4>
                    <p class="text-muted">From idea to outcome, from brainstorming to task-devision and from feedback session to final presentation: Let's do one more iteration!</p>
                </div>
            </div>
        </div>
    </section>